*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,black,rgb(75, 71, 71),black);
    padding: 0.4rem;
    @include flex();
    
    section{
        height: 100%;
        width: 29vw;
        border-radius: 0.7rem;
        .outerreel{
            width: 100%; 
            height: 100%;  
             display: flex;        
            flex-direction: column;  
            gap: 1rem; 
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            &::-webkit-scrollbar{
                display: none;
            }
            .reel{
                width: 100%;
                flex-shrink: 0;     // important
                height: 100%;  
                position: relative;
                border-radius: 0.7rem;  
                overflow: hidden; 
                scroll-snap-align: start;
                scroll-snap-stop: always;
                .top{
                width: 100%;
                height: 100%;
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0.7rem;
                }
            }
                .bottom {
                        padding: 25px 20px;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        background: linear-gradient(to bottom ,rgba(255, 255, 255, 0),black);
                        gap:1rem;
                        .user{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            
                            gap: 0.6rem;
                            .img2{
                                width: 40px;
                                height: 40px;
                                border-radius: 2rem;
                                img{
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 2rem;
                                }
                            }
                            h3{
                                font-size: 1rem;
                                color:white;
                                font-weight: 600;
                            }
                            button{
                                padding: 0.4rem 1rem;
                                background-color: transparent;
                                border: 0.09rem solid white;
                                color: white;
                                font-size: 0.8rem;
                                font-weight: 600;
                                border-radius: 0.6rem;
                            }
                        }
                        h5{
                             font-size: 1rem;
                                color:white;
                                font-weight: 500;
                        }
                }
                .right{
                    width:60px;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    flex-direction: column;
                    bottom: 0;
                    height: 100%;
                    right: 0;
                    position: absolute;
                    padding-bottom: 7rem;
                    
                    
                   i{
                    color: white;
                    font-size: 1.7rem;
                    font-weight: 200;
                   }
                   h5{
                    font-size: 0.6rem;
                    color:white;
                    margin-bottom: 1rem;
                    font-weight: 400;
                   }
                }
        
        }
    }
    }
}